# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Environment variables
.env

# VS Code settings
.vscode/

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# OS files
.DS_Store
Thumbs.db

# Static and media files (optional, if